.dev-object-block.display-vertical
    .img-block.display-prefix.default-dev-picture
        p.prefix-block.min-size-text.white-text.regular-text.display-vertical-center Type 
    p.max-middle-text.bold-text.dev-text Title 
    p.min-middle-text.regular-text.dev-text Adress 
    p.min-middle-text.regular-text.dev-text
    p.min-middle-text.regular-text.dev-text New Properties for Sale from £
        span.bold-text Price 
    p.min-middle-text.regular-text.dev-text Shared Ownership Available